
header {
  display: block;
  width: 100%;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  
}

.wa3 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  list-style: none;
  text-decoration: none;
}
  user agent stylesheet
header {
  display: block;
}
body {
  color: var(--text-color);
}
:root {
  --main-color: #2288ff;
  --second-color: #192f6a;
  --text-color: #314862;
  --bg-color: #fff;
  --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.wa3 {
font-family: "Poppins", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
scroll-padding-top: 3rem;
list-style: none;
text-decoration: none;
}
/* Variables */
:root {
--main-color:     #980808;
--second-color: #192f6a;
--text-color: #314862;
--bg-color: #fff;

/* Box Shadow */
--box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}
img {
width: 100%;
}
body {
color: var(--text-color);
}
section {
padding: 4.5rem 0 3rem;
}

header {
display: block;
width: 100%;
background: var(--bg-color);
position: fixed;
top: 0;
left: 0;
z-index: 100;
}
.nav {
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 35px;
}
.logo {
display: flex;
align-items: center;
column-gap: 0.5rem;
font-size: 1rem;
font-weight: 700;
color: var(--main-color);
text-transform: uppercase;
}
.logo .bx {
font-size: 24px;
color: var(--main-color);
}
.navbar {
display: flex;
}
.navbar a {
padding: 8px 17px;
color: var(--text-color);
font-size: 1rem;
text-transform: uppercase;
font-weight: 500;
}
.navbar a:hover {
color: var(--main-color);
}
#menu-icon {
font-size: 24px;
cursor: pointer;
display: none;
}
#menu {
display: none;
}
.btn {
  padding: 8px 22px;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 5rem;
  text-decoration: none;
  
}

.btn:hover {
  color: white;
  -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.3);
   background-color: var(--main-color);
}
/* Home */

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
  
  margin-top: 6rem;
  background: url(studentlife.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 640px;
  border-radius: 1.5rem;
 
  display: flex;
  align-items: center;
}
.hometext {
 padding-left: 60px;   
}
.hometext h1 {
  color: var(--bg-color);
  font-size:2rem;
  margin-bottom: 1rem;

}

#photonav {
width: 100px;
height: 27px;
position: relative;
top: -8px;
}

form{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.inpt{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}
.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover,
form:valid{
  width: 200px;
  cursor: pointer;
}

form:hover input,
form:valid input{
  display: block;
}

form:hover .fa,
form:valid .fa{
  background: #07051a;
  color: white;
}


#clear-btn{
display: none;
position: absolute;
top: 70px;
bottom:0;
left: 0;
right: 0;
font-size: 20px;
color: white;
text-align: center; 
width: 100%;
}

form:valid a {
display: block;
}
.lower{
  position: relative;
  top: -2em;
  left: -2.5em;
}
.wrapper {
display: flex;
background: white;  
margin: 10px auto;
padding: 5px 30px;
width: 800px;
}

.hr {
display: flex;
align-items: center;
}

hr {
width: 30px;
height: 1px;
background: black;
margin: 0 15px;
}

h2 {
font-size: 25px;
font-weight: normal;
text-transform: uppercase;
}
.mission {
align-self: center;
color: var(--main-color);



}
.hos {
padding: 15px;
}


#tgoal {
position: relative;
 animation: alternate-reverse;
 top: 6px;
 color: rgb(246, 6, 6);
}
#tbtn {
position: relative;
top: 18px;

}
.logo-img{
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}
.bg-div{
 background:#333;
 overflow: hidden;
}
.herocontainer {
width: 100%;
max-width: 1800px;
margin: 0 auto;
padding: 20px;
background-color: var(--main-color);
border-radius: 5px;

}

form {
display: flex;
align-items: center;
}

input[type="text"] {
flex: 1;
padding: 12px 20px;
margin: 0 10px 0 0;
border: none;
border-radius: 5px;
}

input[type="date"] {
width: 150px;
padding: 12px 20px;
margin: 0 10px 0 0;
border: none;
border-radius: 5px;
}

.jj {
padding: 12px 20px;
background-color: #333;
color: #ffff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.jj:hover {
background-color: #555;
}
.herocontainer{position: relative;
top: -245px;}